
body 
	{
	font-family: arial;
	background-color: Dodgerblue
	}
	
	{span style="font-weight: bold">text</span>}
		{<div}
		src="http://nebula.wsimg.com/a091d7642bd1f1bd66aac5a05c8c2d99?AccessKeyId=04E4B2AD57C323B76087&disposition=0&alloworigin=1" 

h1 {
	font-family: Verdana;
	font-size: 200%;
	color: yellow;
	}
	
<a href="home.html" style="color:red;font-weight:bold"<center><img src="http://nebula.wsimg.com/a091d7642bd1f1bd66aac5a05c8c2d99?AccessKeyId=04E4B2AD57C323B76087&disposition=0&alloworigin=1" alt="Acapulco logo" title="acapulco" width="297" height="113">

	a {
		font-family:monospace;
		text-decoration: underline;
		font-weight: none;
		}
		
	a:link {
		color: yellow;
			}
	
	a:visited
	{
		color: purple;	
	}
	
	a:hover 
	{
		text-decoration: none;
		color: green;
		font-family: cursive;
		font-weight:bold;
	}
	
	a:active 
		{
		color: Dodgerblue;
		}
		
.wrapper 
	{
    height:100vh;
    display:flex;
	}
	
header 
	{
	background-color: gold;
    height: 50px;
	}
	
footer 
	{
	background-color: gold;
    height: 50px;
	}
	
main 
	{
    flex:1;
	}

	
background-color: 
	{
	darkslateblue;
	}								|

