body { 	
	font-family: Georgia;
	background-color: blueviolet}

header {
	background-color: gold;
    height: 50px;
}

footer {
	background-color: gold;
height: 50px;}
	
.food {
	font-weight: 800;
}

a {
		font-family:monospace;
		text-decoration: underline;
		font-weight: none;
	}
	a:link {
		color: yellow;
	}
	a:visited {
		color: purple;	
	}
	a:hover {
		text-decoration: none;
		color: green;
		font-family: cursive;
		font-weight:bold;
	}
	a:active {
		color: Dodgerblue;
}
.wrapper {
    height:100vh;
    display:flex;

}
main {
    flex:1;
}
div.container: {
	background-color: darkslateblue;
}