body { 	
	font-family: Georgia;
	background-color: darkseagreen;
	}

header {
	background-color: Teal;
    height: 50px;
}

footer {
	background-color: Teal;
height: 50px;}
	
.food {
	font-weight: 800;
}

a {
		font-family:monospace;
		text-decoration: underline;
		font-weight: none;
	}
	a:link {
		color: yellow;
	}
	a:visited {
		color: purple;	
	}
	a:hover {
		text-decoration: none;
		color: green;
		font-family: cursive;
		font-weight:bold;
	}
	a:active {
		color: Dodgerblue;
}
.wrapper {
    height:100vh;
    display:flex;

}
main {
    flex:1;
}

.container 
	{
	text-align: left;
	}

.carousel-feature {
	background-color: orange ;
	background-repeat: repeat;
	border: 1px solid black;
	color; black;
	font-size: 30px;
}

.carousel .item{
	height: 150px;
	padding-top: 65px;
	text-align: center;
}