body { 	
	font-family: Georgia;
	background-color: Darkorange;}

header {
	background-color: Darkcyan;
    height: 50px;
}
.jumbotron{
	background-color: forestgreen;
	
.navbar-default{
	background-color: Darkcyan;
	}

.footer {
	background-color: Darkcyan;
height: 50px;}
	
.food {
	font-weight: 800;
}

a {
		font-family:monospace;
		text-decoration: underline;
		font-weight: none;
	}
	a:link {
		color: yellow;
	}
	a:visited {
		color: purple;	
	}
	a:hover {
		text-decoration: none;
		color: green;
		font-family: cursive;
		font-weight:bold;
	}
	a:active {
		color: Dodgerblue;
}
.wrapper {
    height:100vh;
    display:flex;

}
main {
    flex:1;
}


div.container 
	{
	text-align: left;
	}

	
.row{
	text-align: left;
	}
.th{
	text-align: center;
	}
