
body {
	font-family: Helvitica;
	font-size: 200%;
	color: deepviolet;
	background-repeat: no-repeat;
	background-position: center top;
	margin-bottom: 20%;
	height: 400px;
	background-color: turquoise;
	
}
div.img-div{
    height:200px;
    width:200px;
    overflow:hidden;
    border-radius:50%;
	margin-right;
	position: center
}

.img-div img{
    -webkit-transform:translate(-50%);
    margin-left:100px;
}

.circle-image{
    width:200px;
    height:200px;
    border-radius:50%;
    background-image:url("https://upload.wikimedia.org/wikipedia/en/8/83/Situationist_Comedy.jpg");
    display:block;
    background-position-y:25% 
}


hl	{
	font-family: arial;
	color: red;
	}
ul li 	{ 
	text-align: left;
	font-style: italic;
	margin-left: 0px;
	}
div {
	margin-top: 15px;
}
	a {
		font-family:monospace;
		text-decoration: underline;
		font-weight: none;
	}
	a:link {
		color: red;
	}
	a:visited {
		color: Dodgerblue;	
	}
	a:hover {
		text-decoration: none;
		color: deeppink;
		font-family: cursive;
		font-weight:bold;
	}
	a:active {
		color: Dodgerblue;
}
table {
	font-style: italics;

